<template>
  <section class="find-tickets">
    <div class="title">
      <h1>Поиск дешевых авиабилетов</h1>
      <h2>Лучший способ купить авиабилеты дешево</h2>
    </div>
    <search />
  </section>
</template>

<script>
import Search from '@/components/Search.vue'

export default {
    name: 'home',
    components: {
        Search
    }
};
</script>

<style>
</style>
