<template>
  <div id="results">
    <section class="find-tickets mini-find-tickets">
      <search :mini="true" />
    </section>

    <near-dates></near-dates>

    <section class="search-results grid">
      <div class="filters__button">
        <button @click="toMain" class="btn btn-block">
          <i class="fas fa-home mr-1"></i>
          На главную
        </button>
      </div>
      <div class="results_buttons">
        <div class="results_buttons__tabs">
          <div @click="filterMode = 1" :class="{
            selected: filterMode === 1
          }" class="results_buttons__tab">Самый дешевый</div>
          <div @click="filterMode = 2" :class="{
            selected: filterMode === 2
          }" class="results_buttons__tab" style="border-left: 1px solid #dce2e4">Самый быстрый</div>
          <!-- <div class="results_buttons__tab">Оптимальный</div> -->
        </div>
      </div>

      <filters />

      <div class="results">

        <result @toggleModal="toggleModalSeats" v-for="flight in flights" :key="flight.id" :flight="flight" />

      </div>
    </section>

    <modal-payment @closeModal="modalEnabled = false" :modalEnabled="modalEnabled" :flight="selectedFlight" :seats="selectedSeats" />
    <modal-seats @seatsNext="seatsNext" @closeModal="modalSeatsEnabled = false" :modalSeatsEnabled="modalSeatsEnabled" :flight="selectedFlight"/>
    <modal-fill-ticket @proccessPayment="proccessPayment" @closeModal="modalFillTicketEnabled = false" :modalFillTicketEnabled="modalFillTicketEnabled" :selectedSeats="selectedSeats"/>

  </div>
</template>

<script>
import Search from '@/components/Search.vue'
import NearDates from '@/components/NearDates.vue'
import Filters from '@/components/Filters.vue'
import Result from '@/components/Result.vue'

import ModalPayment from '@/components/ModalPayment.vue'
import ModalSeats from '@/components/ModalSeats.vue'
import ModalFillTicket from '@/components/ModalFillTicket.vue'

export default {
  name: 'results',
  components: {
    Search,
    NearDates,
    Filters,
    Result,
    ModalPayment,
    ModalSeats,
    ModalFillTicket
  },
  data() {
    return {
      filterMode: 1,
      modalEnabled: false,
      modalSeatsEnabled: false,
      selectedFlight: undefined,
      selectedSeats: undefined,
      modalFillTicketEnabled: false
    }
  },
  computed: {
    flights() {
      // In case of any errors
      if(!this.$store.getters.filtteredFlights){
        return []
      }
      if(!this.filterMode){ 
        return this.$store.getters.filtteredFlights
      }
      return this.$store.getters.filtteredFlights.sort((a, b) => {
        if(this.filterMode === 1){
          return a.price - b.price
        } else {
          return a.difference.total - b.difference.total
        }
      })
    }
  },
  methods: {
    toMain() {
      this.$router.push({
        name: 'home'
      })
    },
    toggleModalSeats(flight){
      this.modalSeatsEnabled = true;
      this.selectedFlight = flight;
    },
    proccessPayment(seats) {
      this.modalEnabled = true
      this.selectedSeats = seats
    },
    seatsNext(seats) {
      this.selectedSeats = seats
      this.modalFillTicketEnabled = true
    }
  },
  async created() {
    await this.$store.dispatch('fetchFlights')
  }
};
</script>

<style>
</style>