<template>
  <div class="filters">
    <div class="options">
      <div class="options__inner">
        <div class="options__name">
          <i class="fas fa-caret-right mr-1"></i> Багаж
        </div>
        <div class="options__details">
          <label class="checkbox__container" for>
            <input v-model="withoutBaggage" type="checkbox">
            <span @click="withoutBaggage = !withoutBaggage" class="checkmark"></span>
            Без багажа
          </label>
        </div>
      </div>
    </div>
    <div class="options">
      <div class="options__inner">
        <div class="options__name">
          <i class="fas fa-caret-right mr-1"></i> Цена
        </div>
        <div class="options__details">
          <div class="form-row">
            <div class="col-6">
              <input type="number" class="form-control" v-model="minPrice">
            </div>
            <div class="col-6">
              <input type="number" class="form-control" v-model="maxPrice">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="options">
      <div class="options__inner">
        <div class="options__name">
          <i class="fas fa-caret-right mr-1"></i> Авиакомпании
        </div>
        <div class="options__details d-flex flex-column">
          <label class="checkbox__container" for>
            <input v-model="allCompanies" type="checkbox" checked>
            <span @click="allCompanies = !allCompanies" class="checkmark"></span>
            Все компании
          </label>
        </div>
      </div>
    </div> -->
  </div>
</template>

<script>
export default {
    name: 'filters',
    computed: {
      allCompanies: {
        get(){
          return this.$store.state.filters.allCompanies
        },
        set(val){
          this.$store.commit('setFilter', {
            type: 'allCompanies',
            value: val
          })
        }
      },
      withoutBaggage: {
        get(){
          return this.$store.state.filters.withoutBaggage
        },
        set(val){
          this.$store.commit('setFilter', {
            type: 'withoutBaggage',
            value: val
          })
        }
      },
      minPrice: {
        get(){
          return this.$store.state.filters.minPrice
        },
        set(val){
          this.$store.commit('setFilter', {
            type: 'minPrice',
            value: val
          })
        }
      },
      maxPrice: {
        get(){
          return this.$store.state.filters.maxPrice
        },
        set(val){
          this.$store.commit('setFilter', {
            type: 'maxPrice',
            value: val
          })
        }
      }
    }
};
</script>

<style>
</style>
