<template>
  <div class="modal" :class="{
    'fade show d-block': modalEnabled
  }" style="background-color: rgba(0, 0, 0, .6);" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 v-if="seats && flight" class="modal-title">Оплата рейса <span class="text-danger">№ {{ flight.id }} ({{ seats.length }} билетов)</span></h5>
          <button @click="$emit('closeModal')" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form @submit.prevent="createNewTicket" action="#">
          <div class="modal-body">
            <div class="form-group">
              <h6>Итого к оплате: <span class="text-success">{{ price }} руб.</span></h6>
            </div>
            <div class="form-row">
              <div class="col-8">
                <label for="">Имя держателя карты: </label>
                <input required type="text" name="cardholder" class="form-control">
              </div>
              <div class="col-4">
                <label for="">CVV: </label>
                <input required type="text" name="cvv" class="form-control">
              </div>
            </div>
            <div class="form-row mt-3">
              <div class="col-8">
                <label for="">Номер карты: </label>
                <input required type="text" name="card_number" class="form-control">
              </div>
              <div class="col-4">
                <label for="">Дата: </label>
                <input required type="text" name="expire" class="form-control">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary btn-block">Оплатить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'modal-payment',
    props: ['modalEnabled', 'flight', 'seats'],
    computed: {
      price() {
        let summary = 0
        if(this.seats && this.seats.length !== 0){
          summary = this.flight.price * this.seats.length
        }
        return summary
      }
    },
    methods: {
      async createNewTicket() {
        this.seats.forEach(async (seat) => {
          let ticket = {...seat}
          ticket.flight = this.flight.id
          ticket.created_at = new Date()
          let response = await this.$http.post(`/tickets/`, ticket)
        })

        let date = new Date(this.flight.date_depart)
        date = `${date.getDate()}/${this.zfill(date.getMonth())}`

        let time = this.getTime(this.flight.date_depart)

        alert(`Оплачено. ${this.seats.length} билет(ы) на ${date} в ${time}`)
        this.$emit('closeModal')
      },
      zfill(str) {
        let temp = '00' + str
        return temp.slice(-2)
      },
      getTime(str) {
        let date = new Date(str)
        return `${this.zfill(date.getHours())}:${this.zfill(date.getMinutes())}`
      },
    }
  };
</script>

<style>
</style>