<template>
  <div class="modal" :class="{
    'fade show d-block': modalFillTicketEnabled
  }" style="background-color: rgba(0, 0, 0, .6);" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Информация для билета <span class="text-danger">№ {{ completedTickets+1 }}</span></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form @submit.prevent="nextTicket" v-if="selectedSeats && completedTickets <= selectedSeats.length" action="#">
          <div class="modal-body">
            <div class="form-group form-check">
              <input v-model="selectedSeats[completedTickets].child" type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Ребенок</label> <br>
              <small>В этом случае введите свои данные</small>
            </div>
            <div class="form-row mt-3">
              <div class="col-6">
                <label for="">Полное имя: </label>
                <input v-model="selectedSeats[completedTickets].full_name" required type="text" class="form-control">
              </div>
              <div class="col-6">
                <label for="">Паспорт: </label>
                <input v-model="selectedSeats[completedTickets].passport" required type="text" class="form-control">
              </div>
            </div>
            <div class="form-row mt-3">
              <div class="col-12">
                <label for="">Номер телефона: </label>
                <input v-model="selectedSeats[completedTickets].phone_number" pattern="^\+7\d{10}$" required type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary btn-block">Оплатить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'modal-fill-ticket',
  props: {
    modalFillTicketEnabled: Boolean,
    selectedSeats: Array
  },
  data() {
    return {
      completedTickets: 0
    }
  },
  methods: {
    nextTicket() {
      if (this.completedTickets + 1 >= this.selectedSeats.length) {
        this.$emit('proccessPayment', this.selectedSeats)
        this.$emit('closeModal')
        return
      }
      this.completedTickets += 1
    } 
  }
}
</script>

<style>

</style>
