<template>
  <div class="modal" :class="{
        'fade show d-block': modalSeatsEnabled
    }" id="exampleModal" style="background-color: rgba(0, 0, 0, .6);" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Выберите место</h5>
          <button type="button" @click="$emit('closeModal')" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body seat-selector-container">
          <div class="seat-selector">
            <div class="seat-selector__first-block">
              <seat @selectSeat="selectSeat" v-for="seat in firstBlock" :key="seat.id" :seat="seat"/>
            </div>
            <div v-if="rows" class="seat-selector__middle-block">
              <div v-for="pointer in range(rows, 1)" :key="pointer" class="seat__selector__row-pointer">
                {{ pointer }}
              </div>
            </div>
            <div class="seat-selector__second-block">
              <seat @selectSeat="selectSeat" v-for="seat in secondBlock" :key="seat.id" :seat="seat"/>
            </div>
            <div class="seat-selector__info-block">
              <div class="price" v-if="flight">
                <strong>Цена билета: </strong> {{ flight.price }} руб. <br>
                <strong>Итоговая цена: </strong> {{ totalPrice }} руб.
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button @click="$emit('closeModal')" type="button" class="btn btn-secondary"
            data-dismiss="modal">Отмена</button>
          <button @click="seatsNext" type="button" class="btn btn-primary">Далее</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Seat from '@/components/Seat.vue'
import _ from 'lodash'

let currentSeatFirst = 0;
let currentSeatSecond = 3;

export default {
  name: 'modal-seat',
  props: ['modalSeatsEnabled', 'flight'],
  components: {
    Seat
  },
  data() {
    return {
      // Map parts
      firstBlock: [],
      secondBlock: [],
      selectedSeats: []
    }
  },
  watch: {
    modalSeatsEnabled: function(value){
      if(value){
        this.generateMap()
      }
    }
  },
  computed: {
    rows() {
      if(!this.flight) return false
      let ticket_amount = this.flight.ticket_amount
      let tmp_rows = ticket_amount / 6
      return tmp_rows
    },
    totalPrice() {
      if (!this.flight) return
      let sum = this.flight.price * this.selectedSeats.length
      return sum
    }
  },
  methods: {
    range(size, startAt=0){
      return [...Array(size).keys()].map(i => i+startAt)
    },
    // Generate a map's block
    genereateBlock(rows, seat, row_size, block) {
      let current_row = 1
      let current_seat = seat
      this.range(rows*row_size, 1).forEach(() => {
        current_seat += 1
        if(current_seat > seat + row_size){
          current_seat = seat
          current_seat += 1
          current_row += 1
        }
        if(current_row > rows){
          return
        }
        let data = {
          id: _.uniqueId(),
          seat: current_seat,
          row: current_row,
          taken: false,
          selected: false,
          child: false,
          full_name: '',
          passport: '',
          phone_number: '',
          flight: undefined,
          created_at: undefined
        }

        // Check if the seat is taken
        this.flight.tickets.forEach(ticket => {
          if (ticket.row == data.row && ticket.seat == data.seat){
            data.taken = true
          }
        })

        block.push(data)
      })
    },
    // Generate the seat map
    generateMap(){
      // Reset all existed maps
      this.firstBlock = []
      this.secondBlock = []
      this.selectedSeats = []
      // Generate first block
      this.genereateBlock(this.rows, 0, 3, this.firstBlock)
      // Generate second block
      this.genereateBlock(this.rows, 3, 3, this.secondBlock)
    },
    checkSeat(block, seat) {
      block.forEach(blockSeat => {
        if (blockSeat.row == seat.row && blockSeat.seat == seat.seat){
          blockSeat.selected = !blockSeat.selected
          if (blockSeat.selected){
            this.selectedSeats.push(seat)
          } else {
            this.selectedSeats.splice(this.selectedSeats.indexOf(seat), 1)
          }
        }
      })
    },
    selectSeat(seat) {
      this.checkSeat(this.firstBlock, seat)
      this.checkSeat(this.secondBlock, seat)
    },
    seatsNext() {
      if(this.selectedSeats.length === 0){
        alert('Выберите хотя бы одно место!')
        return
      }
      this.$emit('closeModal')
      this.$emit('seatsNext', this.selectedSeats)
    }
  }
};
</script>

<style>
.seat__selector__row-pointer {
  width: 22px;
  height: 22px;
}
.seat-selector__middle-block {
  display: grid;
  grid-gap: 5px;
}
.seat-selector__seat {
  line-height: 28px;
}
</style>