<template>
  <section class="near-dates">
    <div class="near-dates-inner">
      <div class="info">
        <div class="icon">
          <img src="img/calendar.svg" alt>
        </div>
        <div class="text">
          <div>Цены на соседние даты</div>
          <div>Таблица и график</div>
        </div>
      </div>
      <div class="dates">
        <div class="date empty">
          <div class="date-price">-</div>
          <div class="date-info">{{ formatTime(prevDate) }}</div>
        </div>
        <div @click="updateFlights(date)" class="date"
             :class="{
               selected: date.toGMTString() === depDate.toGMTString()
             }"
             v-for="(date, index) in dates" :key="index">
          <div class="date-price"><i class="fas fa-search"></i></div>
          <div class="date-info">{{ formatTime(date) }}</div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
    name: 'near-dates',
    data() {
      return {
        dates: [],
        depDate: 0
      }
    },
    computed: {
      updateDatesEvent() {
        return this.$store.state.updateDatesEvent
      },
      flights() {
        return this.$store.state.flights
      },
      search() {
        return this.$store.state.search
      },
      prevDate() {
        let date = new Date(this.dates[0].toGMTString())
        date = new Date(date.setDate(date.getDate() - 1))
        return date
      }
    },
    watch: {
      updateDatesEvent: function() {
        this.updateDates()
      }
    },
    methods: {
      formatTime(date){
        let day = date.getDate()
        let weekday = date.toLocaleString('ru-ru', { weekday: 'short' })
        let month = date.toLocaleString('ru-ru', { month: 'short' })
        let year = date.getFullYear()

        return `${day} ${month} ${weekday}`
      },
      calculateDates() {
        let datesList = []
        let date = new Date(this.search.departDate)
        date = new Date(date.setDate(date.getDate() - 1))

        for(let i = 0; i <= 5; i++){
          datesList.push(date)
          date = new Date(date.setDate(date.getDate() + 1))
        }

        return datesList
      },
      updateDates() {
        this.dates = this.calculateDates()
        this.depDate = new Date(this.search.departDate)
      },
      async updateFlights(date) {
        this.$store.commit('setStateProp', {
          type: 'search',
          prop: 'departDate',
          value: date.toISOString().split('T')[0]
        })
        await this.$store.dispatch('fetchFlights')
        this.depDate = new Date(this.search.departDate)
        alert(`Найдено ${this.flights.length} билетов!`)
      }
    },
    created() {
      this.updateDates()
    }
};
</script>

<style>
</style>
