<template>
  <div class="result grid">
    <div class="result__first">
      <div class="result__first__inner">
        <div class="baggage" v-if="!flight.baggage">без багажа</div>
        <div class="baggage" v-else>c багажом</div>
        <div class="price text-center mt-2">{{ flight.price }} руб.</div>
        <div class="btn__wrapper">
          <button @click="$emit('toggleModal', flight)" class="btn buy-ticket">Купить</button>
        </div>
      </div>
    </div>
    <div class="result__second">
      <div class="result__second__inner">
        <div class="info" v-show="flight.companies">
          <div class="company-logo" v-for="company in flight.companies" :key="company.id">
            <div class="company-logo__inner" :style="{
                  'background-image': `url('${$baseURL}${company.logo}')`
              }"></div>
          </div>
        </div>
        <div class="path grid">
          <div class="depart">
            {{ getTime(flight.date_depart) }}
            <div class="depart__date" v-show="flight.airport_depart">
              {{ flight.airport_depart.city.name }}
              <br>{{ formatTime(flight.date_depart) }}
            </div>
          </div>
          <div class="path-line">
            <div class="start point"></div>
            <div class="line"></div>
            <div class="end point"></div>
            <div class="path-length">
              <span v-show="flight.difference.hours !== 0">
                {{ flight.difference.hours }}  час
              </span> {{ flight.difference.minutes }} минут
            </div>
          </div>
          <div class="arrive">
            {{ getTime(flight.date_arrive) }}
            <div class="arrive__date" v-show="flight.airport_arrive">
              {{ flight.airport_arrive.city.name }}
              <br>{{ formatTime(flight.date_arrive) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'result',
    props: ['flight'],
    methods: {
      zfill(str) {
        let temp = '00' + str
        return temp.slice(-2)
      },
      getTime(str) {
        let date = new Date(str)
        return `${this.zfill(date.getHours())}:${this.zfill(date.getMinutes())}`
      },
      formatTime(string){
        let date = new Date(string)
        
        let day = date.getDate()
        let weekday = date.toLocaleString('ru-ru', { weekday: 'short' })
        let month = date.toLocaleString('ru-ru', { month: 'short' })
        let year = date.getFullYear()

        return `${day} ${month} ${year}, ${weekday}`
      }
    }
  };
</script>

<style>
</style>