<template>
  <div class="search">
    <form @submit.prevent="startSearch" action="#">
      <div class="form-group">
        <div class="form-element">
          <input
            @focus="departActive=true"
            @blur="unfocus('departActive')"
            v-model="departAirport"
            type="text"
            placeholder="Откуда"
          >
          <div class="tips" v-show="departActive">
            <div class="tip" @click="useTipDepart(city)" v-for="city in departTips" :key="city.id">
              <div class="tip-inner">
                <strong>{{ city.name }}</strong>,&nbsp;
                <span v-show="city.country">{{ city.country.name }}</span>
                <div class="code">{{ city.code }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-element">
          <input
            @focus="arriveActive=true"
            @blur="unfocus('arriveActive')"
            v-model="arriveAirport"
            type="text"
            placeholder="Куда"
          >
          <div class="tips" v-show="arriveActive">
            <div class="tip" @click="useTipArrive(city)" v-for="city in arriveTips" :key="city.id">
              <div class="tip-inner">
                <strong>{{ city.name }}</strong>,&nbsp;
                <span v-show="city.country">{{ city.country.name }}</span>
                <div class="code">{{ city.code }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-element">
          <label>Туда</label>
          <input v-model="departDate" type="date" placeholder="Туда">
        </div>
        <div class="form-element">
          <label>Обратно</label>
          <input v-model="arriveDate" type="date" placeholder="Обратно">
        </div>
        <div class="form-element">
          <label>Класс</label>
          <select v-model="comfortClass">
              <option value="0">Эконом</option>
              <option value="1">Бизнес</option>
          </select>
          <div class="tips-selection"></div>
        </div>
        <div class="form-element" v-show="mini">
            <button class="btn btn-start-search">Найти билеты</button>
        </div> 
      </div>
      <div class="form-group start-search" v-show="!mini">
        <button class="btn btn-start-search" style="position: inherit">Найти билеты</button>
      </div>
    </form>
  </div>
</template>

<script>
import _ from 'lodash'
import { setInterval, setTimeout } from 'timers';

export default {
    name: "search",
    props: ['mini'],
    data(){
        return {
            // For depart airport
            departTips: [],
            departActive: false,

            arriveTips: [],
            arriveActive: false,
        }
    },
    computed: {
        flights() {
            return this.$store.state.flights
        },
        /**
         * Departing ariport name
         */
        departAirport: {
            get() {
                return this.$store.state.search.departAirport
            },
            set(value) {
                this.$store.commit('setStateProp', {
                    value,
                    type: 'search',
                    prop: 'departAirport'
                })
            }
        },
        departAirportID: {
            get() {
                return this.$store.state.search.departAirportID
            },
            set(value) {
                this.$store.commit('setStateProp', {
                    value,
                    type: 'search',
                    prop: 'departAirportID'
                })
            }
        },
        /**
         * Arriving aiport name
         */
        arriveAirport: {
            get() {
                return this.$store.state.search.arriveAirport
            },
            set(value) {
                this.$store.commit('setStateProp', {
                    value,
                    type: 'search',
                    prop: 'arriveAirport'
                })
            }
        },
        arriveAirportID: {
            get() {
                return this.$store.state.search.arriveAirportID
            },
            set(value) {
                this.$store.commit('setStateProp', {
                    value,
                    type: 'search',
                    prop: 'arriveAirportID'
                })
            }
        },
        /**
         * Date of departure
         */
        departDate: {
            get() {
                return this.$store.state.search.departDate
            },
            set(value) {
                this.$store.commit('setStateProp', {
                    value,
                    type: 'search',
                    prop: 'departDate'
                })
            }
        },
        /**
         * Date of arrival
         */
        arriveDate: {
            get() {
                return this.$store.state.search.arriveDate
            },
            set(value) {
                this.$store.commit('setStateProp', {
                    value,
                    type: 'search',
                    prop: 'arriveDate'
                })
            }
        },
        /**
         * Comfort class
         */
        comfortClass: {
            get() {
                return this.$store.state.search.comfortClass
            },
            set(value) {
                this.$store.commit('setStateProp', {
                    value,
                    type: 'search',
                    prop: 'comfortClass'
                })
            }
        },
    },
    async created(){
        this.getTipsDebounced = _.debounce(this.getTips, 500)
    },
    methods: {
        /**
         * Recieve tips from the server
         */
        async getTips(val, tips){
            const response = await this.$http.get('/cities/', {
                params: {
                    name: val
                }
            })
            this[tips] = response.data
        },
        useTipDepart(city){
            this.departAirport = city.name
            this.departAirportID = city.id
        },
        useTipArrive(city){
            this.arriveAirport = city.name
            this.arriveAirportID = city.id
        },
        unfocus(status){
            setTimeout(() => {
                this[status] = false
            }, 250)
        },
        async startSearch(){
            this.$router.push({
                name: 'results'
            })

            if(this.mini){
                this.$store.commit('setState', {
                    type: 'updateDatesEvent',
                    value: new Date()
                })
                await this.$store.dispatch('fetchFlights')
                alert(`Найдено ${this.flights.length} билетов!`)
            }
        }
    },
    watch: {
        /**
         * Watch for airport fields 
         * and recieve helpful tips
         */
        departAirport: function(val){
            this.getTipsDebounced(val, 'departTips')
        },
        arriveAirport: function(val){
            this.getTipsDebounced(val, 'arriveTips')
        }
    }
};
</script>

<style>
</style>
