<template>
    <div @click="selectSeat" class="seat-selector__seat" :class="{
      'seat-selector__seat--taken': seat.taken,
      'seat-selector__seat--selected': seat.selected
    }">
        {{ seat.seat }}
    </div>
</template>

<script>
export default {
  name: 'seat',
  props: ['seat'],
  methods: {
    selectSeat() {
      if (this.seat.taken) return
      this.$emit('selectSeat', this.seat)
    }
  }
}
</script>

<style>

</style>
